/* Общий стиль для всего футера */
.footer {
    padding: 20px 0;
}

/* Стиль для контейнера с содержимым футера */
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Стиль для логотипа */
.footer-logo img {
    width: 100px; /* Размер логотипа */
    height: auto;
}

/* Стиль для списка ссылок */
.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links a {
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #ffcc00; /* Изменение цвета при наведении */
}

/* Стиль для социальных иконок */
.footer-social ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.footer-social ul li {
    margin-right: 10px;
}

.footer-social a img {
    width: 30px; /* Размер иконок */
    height: auto;
}

/* Стиль для нижней части футера */
.footer-bottom {
    text-align: center;
    padding: 10px 0;
}
