body {
  transition: 2s;
}

.my-button {
  /* Добавьте любые общие стили для кнопки */
}

/* Кнопки белые, текст черный в темной теме */
.my-button.button-light {
  background-color: white; /* Замените цвет фона на ваш выбор */
  color: #fff;
}

/* Текст белый в темной теме */
.my-button.text-light {
  color: #fff;
}
